.box {
  height: 15vw;
  width: 15vw;
  border: solid black 4px;
  border-radius: 10px;
  background-color: pink;
  color: white;
  padding: 1%;  
  margin: 8vh;
  display: block;
  text-align: center;
  justify-content: center;
}

.tictactoe {
  content:"this is tictactoe";
  color: black;
  height: 50px;
  width: 50px;
}